 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: white;
  }

  .chat-container {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    max-width: 90%;
  }

  .main {
    flex: 1;
    width: 80%;
    height: 100vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    overflow: hidden;
  }

  .main_header h1 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(56, 55, 55);
    margin: 1rem;
    text-align: center;
  }

  .message-box{
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .message, .bot-message {
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80%;
    line-height: 1.4;
    word-break: break-word;
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  .message {
    align-self: flex-end;
    background-color: rgb(240, 243, 242);
    color: rgb(39, 38, 38);
  }

  .bot-message {
    align-self: flex-start;
    color: black;
  }

  .bot-message span {
    color: blue;
  }

  .input-container {
    display: flex;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #ccc;
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  .input-container input {
    flex: 1;
    padding: 0.8rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    outline: none;
  }

  .send-button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #e1f7f9;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .send-button span {
    color: rgb(59, 237, 217);
    font-size: 1.2rem;
  }

  .send-button:hover span {
    color: rgb(156, 241, 213);
  }

  .chat-container{
    width: 100%;
  }


  