* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  min-height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(243, 247, 247);
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 70px; 
}

.top {
  width: 40px;
  height: 40px;
  margin: 15px 0px 0px 10px;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
.top:hover{
  background-color: rgb(234, 235, 235);
  border-radius: 50%;
}

.open-btn {
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.new-chat,
.recent,
.botton {
  padding: 15px;
}

.new-chat p,
.recent p {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.botton-item {
  padding: 10px 0;
  cursor: pointer;
}

.botton-item p {
  font-size: 14px;
}

.botton {
  margin-bottom: 20px;
}