.app-container {
    display: flex;
  }

 .dark-theme .sidebar{
  background-color: rgb(37, 37, 37);
  color: white;
} 



.dark-theme .app-container,.dark-theme .header h1,
.dark-theme input, .dark-theme .input-container, .dark-theme
.input-container input::placeholder{
  background-color: rgb(29, 28, 28);
  color: white;
}

 .dark-theme .bot-message {
   color: white;
}

.dark-theme .message{
  color: white;
  background-color: rgb(54, 53, 53);
}

.dark-theme .send-button{
  background-color: rgb(56, 55, 55);
}

.dark-theme .send-button span{
  color: white;
}

.dark-theme .massage{
  background-color: rgb(47, 46, 46);
  color: white;
}

.dark-theme .bot-massage{
  color: white;
  background-color: transparent;
}

.dark-theme .open-btn{
  color: white;
}

.dark-theme  .top:hover{
  background-color:  rgb(57, 56, 56);
}

.dark-theme .new-chat{
  background-color: rgb(23, 23, 23);
}
.dark-theme .recent{
  color: white;
}

.dark-theme .bottom-item:hover{
  background-color: rgb(58, 57, 57);
}

.dark-theme .bottom-item:focus {
  background-color: rgb(31, 61, 228);
  color: rgb(76, 215, 233);
  outline: none; 
}
.dark-theme .settings-menu button{
  background: black;
  color: white;
}

.dark-theme .circle-div{
  float: right;
  background-color: blue;
}

.dark-theme .toggle-div{
  background-color: skyblue;
}